<!DOCTYPE html>
<html lang = "en">

<head>
<% include partials/head %>
<link rel="stylesheet" href="/static/css/category.css">
</head>

<body class = "bg">
<% include partials/header %>
<div class="category">
<%= category %>
</div>
<% posts.forEach(function(post) {%>
	<div class="hex post">
		<div class = "text">
			<div class = "title"> 
			<%= post.title %>
			<% if (post.github != "") { %>
			<a href=<%= post.github %> class = "icon"><img src="/static/images/github.png"></a>
			<% } %>
			<% if (post.link != "") { %>
			<a href=<%= post.link %> class = "icon"><img src="/static/images/link.png"></a>
			<% } %>
			</div>
			<div class = "blurb">
			<%= post.text %>
			</div>
		</div>
		<div class = "featuredImageContainer">
			<img src=<%= post.image_path %> class = "featuredImage">
		</div>
	</div>
<% }); %>
</body>

</html>